.examination-2,
.examination-2 * {
  box-sizing: border-box;
}
.examination-2 {
  background: #ffffff;
  height: 6133px;
  position: relative;
  overflow: hidden;
}
._21-find-the-error-he-walk-to-school-every-day {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 44px;
  top: 143px;
  width: 718px;
  height: 40px;
}
.choice {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 44px;
  top: 219px;
}
.ellipse-1 {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #626262;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.ellipse-2 {
  background: #f8f8f8;
  border-radius: 50%;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  width: 82.67%;
  height: 82.67%;
  position: absolute;
  right: 8%;
  left: 9.33%;
  bottom: 8%;
  top: 9.33%;
}
.choice2 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 44px;
  top: 272px;
}
.choice3 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 44px;
  top: 325px;
}
.choice4 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 44px;
  top: 379px;
}
.he {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 219px;
  width: 718px;
  height: 40px;
}
.walk {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 275px;
  width: 718px;
  height: 40px;
}
.school {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 328px;
  width: 718px;
  height: 40px;
}
.every-day {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 381px;
  width: 718px;
  height: 40px;
}
._22-choose-the-sentence-in-passive-voice {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 45px;
  top: 440px;
  width: 718px;
  height: 40px;
}
.choice5 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 46px;
  top: 491px;
}
.choice6 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 46px;
  top: 544px;
}
.choice7 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 46px;
  top: 597px;
}
.choice8 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 46px;
  top: 651px;
}
.the-chef-cooked-the-meal {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 491px;
  width: 718px;
  height: 40px;
}
.the-meal-was-cooked-by-the-chef {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 547px;
  width: 718px;
  height: 40px;
}
.the-chef-was-cooking-the-meal {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 600px;
  width: 718px;
  height: 40px;
}
.the-chef-cooks-the-meal {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 653px;
  width: 718px;
  height: 40px;
}
._23-which-sentence-uses-the-correct-past-perfect-tense {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 49px;
  top: 719px;
  width: 718px;
  height: 40px;
}
.choice9 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50px;
  top: 770px;
}
.choice10 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 50px;
  top: 823px;
}
.choice11 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 50px;
  top: 876px;
}
.choice12 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50px;
  top: 930px;
}
.i-had-finished-my-homework-before-dinner {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 770px;
  width: 718px;
  height: 40px;
}
.i-have-finished-my-homework-before-dinner {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 826px;
  width: 718px;
  height: 40px;
}
.i-finished-my-homework-before-dinner {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 879px;
  width: 718px;
  height: 40px;
}
.i-finish-my-homework-before-dinner {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 932px;
  width: 718px;
  height: 40px;
}
._25-fill-in-the-blank-the-book-is-the-table {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 52px;
  top: 1263px;
  width: 718px;
  height: 8px;
}
.choice13 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 49px;
  top: 1335px;
}
.choice14 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 49px;
  top: 1388px;
}
.choice15 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 49px;
  top: 1441px;
}
.choice16 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 49px;
  top: 1495px;
}
.in {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 1335px;
  width: 718px;
  height: 40px;
}
.on {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 1391px;
  width: 718px;
  height: 40px;
}
.under {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 1444px;
  width: 718px;
  height: 40px;
}
.above {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 1497px;
  width: 718px;
  height: 40px;
}
._26-what-does-hit-the-sack-mean {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 54px;
  top: 1564px;
  width: 990px;
}
.choice17 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 54px;
  top: 1612px;
}
.choice18 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 54px;
  top: 1663px;
}
.choice19 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 54px;
  top: 1716px;
}
.choice20 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 54px;
  top: 1770px;
}
.start-a-fight {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 107px;
  top: 1610px;
  width: 718px;
  height: 40px;
}
.go-to-sleep {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 107px;
  top: 1666px;
  width: 718px;
  height: 40px;
}
.go-to-work {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 107px;
  top: 1719px;
  width: 718px;
  height: 40px;
}
.cook-dinner {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 107px;
  top: 1772px;
  width: 718px;
  height: 40px;
}
._27-identify-the-figure-of-speech-the-world-is-a-stage {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 1823px;
  width: 832px;
  height: 40px;
}
.choice21 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 56px;
  top: 1882px;
}
.choice22 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 56px;
  top: 1935px;
}
.choice23 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 56px;
  top: 1988px;
}
.choice24 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 56px;
  top: 2042px;
}
.simile {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 109px;
  top: 1882px;
  width: 718px;
  height: 40px;
}
.metaphor {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 109px;
  top: 1938px;
  width: 718px;
  height: 40px;
}
.personification {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 109px;
  top: 1991px;
  width: 718px;
  height: 40px;
}
.hyperbole {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 109px;
  top: 2044px;
  width: 718px;
  height: 40px;
}
._28-what-does-benevolent-most-nearly-mean {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 2102px;
  width: 718px;
  height: 40px;
}
.choice25 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 62px;
  top: 2153px;
}
.choice26 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 62px;
  top: 2206px;
}
.choice27 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 62px;
  top: 2259px;
}
.choice28 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 62px;
  top: 2313px;
}
.greedy {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 115px;
  top: 2153px;
  width: 718px;
  height: 40px;
}
.kind {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 115px;
  top: 2209px;
  width: 718px;
  height: 40px;
}
.cruel {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 115px;
  top: 2262px;
  width: 718px;
  height: 40px;
}
.silly {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 115px;
  top: 2315px;
  width: 718px;
  height: 40px;
}
._31-choose-the-antonym-for-generous {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 2938px;
  width: 718px;
  height: 40px;
}
.choice29 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: 2989px;
}
.choice30 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 60px;
  top: 3042px;
}
.choice31 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 60px;
  top: 3095px;
}
.choice32 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: 3149px;
}
.kind2 {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2989px;
  width: 718px;
  height: 40px;
}
.mean {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 3045px;
  width: 718px;
  height: 40px;
}
.giving {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 3098px;
  width: 718px;
  height: 40px;
}
.wealthy {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 3151px;
  width: 718px;
  height: 40px;
}
._29-which-is-the-correct-spelling {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 59px;
  top: 2375px;
  width: 718px;
  height: 40px;
}
.choice33 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: 2426px;
}
.choice34 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 60px;
  top: 2479px;
}
.choice35 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 60px;
  top: 2532px;
}
.choice36 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: 2586px;
}
.accomodate {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2426px;
  width: 718px;
  height: 40px;
}
.accommodate {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2482px;
  width: 718px;
  height: 40px;
}
.acommodate {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2535px;
  width: 718px;
  height: 40px;
}
.acommodatte {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2588px;
  width: 718px;
  height: 40px;
}
._30-choose-the-synonym-for-happy {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 2608px;
  width: 718px;
  height: 40px;
}
.choice37 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: 2695px;
}
.choice38 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 60px;
  top: 2748px;
}
.choice39 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 60px;
  top: 2801px;
}
.choice40 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 60px;
  top: 2855px;
}
.sad {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2695px;
  width: 718px;
  height: 40px;
}
.angry {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2751px;
  width: 718px;
  height: 40px;
}
.joyful {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2804px;
  width: 718px;
  height: 40px;
}
.quiet {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 2857px;
  width: 718px;
  height: 40px;
}
._32-choose-the-correct-word-the-dog-buried-its-bone-in-backyard {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 3191px;
  width: 718px;
  height: 40px;
}
.choice41 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 66px;
  top: 3284px;
}
.choice42 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 66px;
  top: 3337px;
}
.choice43 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 66px;
  top: 3390px;
}
.choice44 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 66px;
  top: 3444px;
}
.it-s {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 3284px;
  width: 718px;
  height: 40px;
}
.its {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 3340px;
  width: 718px;
  height: 40px;
}
.it-is {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 3393px;
  width: 718px;
  height: 40px;
}
.it {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 3446px;
  width: 718px;
  height: 40px;
}
._33-choose-the-complete-sentence {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 67px;
  top: 3505px;
  width: 718px;
  height: 40px;
}
.choice45 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 68px;
  top: 3556px;
}
.choice46 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 68px;
  top: 3609px;
}
.choice47 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 68px;
  top: 3662px;
}
.choice48 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 68px;
  top: 3716px;
}
.because-he-was-tired {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 3556px;
  width: 718px;
  height: 40px;
}
.running-down-the-road {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 3612px;
  width: 718px;
  height: 40px;
}
.she-finished-the-race-despite-being-tired {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 3665px;
  width: 718px;
  height: 40px;
}
.since-he-left-early {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 3718px;
  width: 718px;
  height: 40px;
}
._34-find-the-error-everyone-have-submitted-their-papers {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: 3779px;
  width: 718px;
  height: 40px;
}
.choice49 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 69px;
  top: 3862px;
}
.choice50 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 69px;
  top: 3915px;
}
.choice51 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 69px;
  top: 3968px;
}
.choice52 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 69px;
  top: 4022px;
}
.everyone {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 3862px;
  width: 718px;
  height: 40px;
}
.have {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 3918px;
  width: 718px;
  height: 40px;
}
.submitted {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 3971px;
  width: 718px;
  height: 40px;
}
.their {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 4024px;
  width: 718px;
  height: 40px;
}
._36-teacher-school-doctor {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 68px;
  top: 4356px;
  width: 718px;
  height: 40px;
}
.choice53 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 71px;
  top: 4400px;
}
.choice54 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 71px;
  top: 4453px;
}
.choice55 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 71px;
  top: 4506px;
}
.choice56 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 71px;
  top: 4560px;
}
.medicine {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 124px;
  top: 4400px;
  width: 718px;
  height: 40px;
}
.hospital {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 124px;
  top: 4456px;
  width: 718px;
  height: 40px;
}
.classroom {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 124px;
  top: 4509px;
  width: 718px;
  height: 40px;
}
.nurse {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 124px;
  top: 4562px;
  width: 718px;
  height: 40px;
}
._37-from-the-sentence-the-arid-land-had-very-little-vegetation-the-word-arid-means {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 4623px;
  width: 990px;
}
.choice57 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 68px;
  top: 4673px;
}
.choice58 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 68px;
  top: 4724px;
}
.choice59 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 68px;
  top: 4777px;
}
.choice60 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 68px;
  top: 4831px;
}
.wet {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 4671px;
  width: 718px;
  height: 40px;
}
.dry {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 4727px;
  width: 718px;
  height: 40px;
}
.cold {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 4780px;
  width: 718px;
  height: 40px;
}
.fertile {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 4833px;
  width: 718px;
  height: 40px;
}
._38-the-prefix-pre-in-preview-means {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 4884px;
  width: 832px;
  height: 40px;
}
.choice61 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 70px;
  top: 4943px;
}
.choice62 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 70px;
  top: 4996px;
}
.choice63 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 70px;
  top: 5049px;
}
.choice64 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 70px;
  top: 5103px;
}
.after {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 4943px;
  width: 718px;
  height: 40px;
}
.before {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 4999px;
  width: 718px;
  height: 40px;
}
.during {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 5052px;
  width: 718px;
  height: 40px;
}
.around {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 123px;
  top: 5105px;
  width: 718px;
  height: 40px;
}
._39-choosing-the-best-sentence-more {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 5163px;
  width: 718px;
  height: 40px;
}
.choice65 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 76px;
  top: 5214px;
}
.choice66 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 76px;
  top: 5267px;
}
.choice67 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 76px;
  top: 5320px;
}
.choice68 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 76px;
  top: 5374px;
}
.the-package-was-deliver-yesterday {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 5214px;
  width: 718px;
  height: 40px;
}
.the-package-is-deliver-yesterday {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 5270px;
  width: 718px;
  height: 40px;
}
.the-package-was-delivered-yesterday {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 5323px;
  width: 718px;
  height: 40px;
}
.the-package-deliver-yesterday {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 5376px;
  width: 718px;
  height: 40px;
}
._40-the-flowers-danced-in-the-breeze-is-an-example-of {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 5441px;
  width: 718px;
  height: 40px;
}
.choice69 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 86px;
  top: 5500px;
}
.choice70 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 86px;
  top: 5553px;
}
.choice71 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 86px;
  top: 5606px;
}
.choice72 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 86px;
  top: 5660px;
}
.metaphor2 {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 139px;
  top: 5500px;
  width: 718px;
  height: 40px;
}
.personification2 {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 139px;
  top: 5556px;
  width: 718px;
  height: 40px;
}
.hyperbole2 {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 139px;
  top: 5609px;
  width: 718px;
  height: 40px;
}
.simile2 {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 139px;
  top: 5662px;
  width: 718px;
  height: 40px;
}
._35-sentence-improvement-more {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 68px;
  top: 4083px;
  width: 718px;
  height: 40px;
}
.choice73 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 69px;
  top: 4134px;
}
.choice74 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 69px;
  top: 4187px;
}
.choice75 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 69px;
  top: 4240px;
}
.choice76 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 69px;
  top: 4294px;
}
.he-plays-the-guitar-well-doesn-t-he {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 4134px;
  width: 718px;
  height: 40px;
}
.he-plays-the-guitar-well-don-t-he {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 4190px;
  width: 718px;
  height: 40px;
}
.he-playing-the-guitar-well-doesn-t-he {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 124px;
  top: 4243px;
  width: 718px;
  height: 40px;
}
.he-play-the-guitar-well-doesn-t-he {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 4296px;
  width: 718px;
  height: 40px;
}
._24-parallelism {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 47px;
  top: 992px;
  width: 718px;
  height: 40px;
}
.choice77 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 48px;
  top: 1043px;
}
.choice78 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 48px;
  top: 1096px;
}
.choice79 {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 48px;
  top: 1149px;
}
.choice80 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 48px;
  top: 1203px;
}
.she-likes-to-dance-singing-and-to-swim {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 1043px;
  width: 718px;
  height: 40px;
}
.she-likes-dancing-singing-and-swimming {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 1099px;
  width: 718px;
  height: 40px;
}
.she-likes-dancing-sing-and-to-swim {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 97px;
  top: 1152px;
  width: 718px;
  height: 40px;
}
.she-like-dancing-singing-and-swim {
  color: #000000;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 1205px;
  width: 718px;
  height: 40px;
}
.green {
  width: 187px;
  height: 48px;
  position: absolute;
  left: 1151px;
  top: 5940px;
}
.rectangle-20 {
  background: #5ba45c;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.placeholder {
  color: #ffffff;
  text-align: center;
  font-family: "CrimsonText-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 12.5%;
  top: 13.89%;
  height: 73.61%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green2 {
  width: 187px;
  height: 48px;
  position: absolute;
  left: 111px;
  top: 5933px;
}
.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
}
.group-15 {
  width: 1440px;
  height: 80px;
  position: static;
}
.rectangle-1 {
  background: #32508f;
  width: 1440px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-9 {
  width: 62px;
  height: 62px;
  position: absolute;
  left: 28px;
  top: 9px;
  object-fit: cover;
}
.polycium {
  color: #ffffff;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 12px;
  width: 312px;
  height: 45px;
}
.university {
  color: #ffffff;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 285px;
  top: 12px;
  width: 312px;
  height: 45px;
}
