body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../../Images/bg.png") no-repeat center center fixed;
  background-size: cover;
}

.navigation:hover{
	font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.form-container {
  background: #f9fbff;
  border-radius: 16px;
  padding: 30px 40px;
  width: 90%;
  max-width: 800px;

  
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 5px;
}

.form-container p {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

form .form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

form input,
form select {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;

  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-row {
  text-align: center;
  margin-top: 20px;
}

.submit-row button {
  padding: 10px 30px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.submit-row button:hover {
  background-color: #45a049;
}


.form-logo {
  text-align: center;
  margin-bottom: 15px;
}

.form-logo img {
  width: 60px;
  height: auto;
}
