.ADMISSION {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ADMISSION .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.ADMISSION .overlap {
  position: absolute;
  width: 1511px;
  height: 1032px;
  top: 64px;
  left: -1px;
}

.ADMISSION .element {
  position: absolute;
  width: 1440px;
  height: 960px;
  top: 0;
  left: 1px;
}

.ADMISSION .rectangle {
  position: absolute;
  width: 1180px;
  height: 960px;
  top: 0;
  left: 261px;
  background-color: #ffffff;
}

.ADMISSION .rectangle-2 {
  position: absolute;
  width: 1180px;
  height: 960px;
  top: 72px;
  left: 331px;
  background-color: #ffffff;
}

.ADMISSION .text-wrapper {
  position: absolute;
  height: 36px;
  top: 59px;
  left: 313px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .rectangle-3 {
  position: absolute;
  width: 260px;
  height: 960px;
  top: 0;
  left: 1px;
  background-color: #32508fa3;
}

.ADMISSION .nav {
  top: 78px;
  position: absolute;
  width: 261px;
  height: 84px;
  left: 0;
}

.ADMISSION .about {
  position: absolute;
  width: 231px;
  height: 57px;
  top: 12px;
  left: 17px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 33px;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .about-wrapper {
  top: 162px;
  position: absolute;
  width: 261px;
  height: 84px;
  left: 0;
}

.ADMISSION .div-wrapper {
  top: 246px;
  position: absolute;
  width: 261px;
  height: 84px;
  left: 0;
}

.ADMISSION .text-wrapper-2 {
  position: absolute;
  width: 393px;
  height: 86px;
  top: 34px;
  left: 321px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .text-wrapper-3 {
  position: absolute;
  width: 393px;
  height: 86px;
  top: 71px;
  left: 401px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .text-wrapper-4 {
  position: absolute;
  width: 393px;
  height: 86px;
  top: 71px;
  left: 313px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
}

.ADMISSION .group {
  width: 1452px;
  height: 80px;
}

.ADMISSION .navbar-2 {
  position: relative;
  background-color: #32508f;
  box-shadow: 0px 4px 4px #00000040;
  width: 1440px;
  height: 80px;
}

.ADMISSION .text-wrapper-5 {
  width: 113px;
  left: 959px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .text-wrapper-6 {
  position: absolute;
  top: 25px;
  left: 1229px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .text-wrapper-7 {
  width: 105px;
  left: 1098px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .img {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 9px;
  left: 28px;
  object-fit: cover;
}

.ADMISSION .overlap-group {
  position: absolute;
  width: 494px;
  height: 45px;
  top: 12px;
  left: 103px;
}

.ADMISSION .text-wrapper-8 {
  position: absolute;
  width: 312px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .text-wrapper-9 {
  position: absolute;
  width: 312px;
  top: 0;
  left: 182px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ADMISSION .text-wrapper-10 {
  width: 66px;
  left: 867px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
