#Navigation_bar {
  position: fixed;   /* makes it stay at the top of the screen */
  top: 0;            /* pin it to the top */
  width: 100%;       /* full width */
  height: 60px;      /* consistent height */
  background-color: #32508F;
  z-index: 9999;     /* ensures it's above all other elements */
}

.next-button {
  background-color: #5BA45C;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #366e2a;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "CrimsonText", serif;
  background-color: #f8f8f8;
  color: #000;
  line-height: 1.6;
  margin: 0;
}

.container {
  margin-top: 52px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
  position: relative;
  margin-bottom: 40px;
}

h1 {
  font-family: "KonkhmerSleokchher", sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
}

.instructions {
  font-size: 18px;
  margin-bottom: 10px;
}

.timer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}

.question {
  margin-bottom: 30px;
  
}

.question-text {
  font-family: "KonkhmerSleokchher", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.options {
  list-style: none;
  padding-left: 0;
}

.options li {
  margin-bottom: 8px;
  
}

label {
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
  accent-color:#5895D6;
  transform: scale(1.2);
}

