.SIGNUP {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.SIGNUP .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.SIGNUP .overlap {
  position: absolute;
  width: 1440px;
  height: 960px;
  top: 64px;
  left: 0;
  background-image: url(./img/484992325-1356392008723044-8773092000831004371-n-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.SIGNUP .text-wrapper {
  top: 846px;
  left: 559px;
  font-family: "Albert Sans-Regular", Helvetica;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .overlap-group {
  position: absolute;
  width: 623px;
  height: 549px;
  top: 191px;
  left: 408px;
  border-radius: 26px;
  box-shadow: 0px 4px 4px #00000040;
}

.SIGNUP .yellow {
  position: absolute;
  width: 119px;
  height: 39px;
  top: 465px;
  left: 374px;
  background-color: #ffc83d;
  border-radius: 462.7px;
  box-shadow: 0px 4px 4px #00000040;
}

.SIGNUP .PLACEHOLDER {
  position: absolute;
  width: 119px;
  height: 29px;
  top: 5px;
  left: 0;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .back-to-log-in {
  position: absolute;
  top: 475px;
  left: 130px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Albert Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.SIGNUP .group {
  position: absolute;
  width: 392px;
  height: 60px;
  top: 389px;
  left: 116px;
}

.SIGNUP .img {
  position: absolute;
  width: 392px;
  height: 60px;
  top: 319px;
  left: 116px;
}

.SIGNUP .group-2 {
  position: absolute;
  width: 392px;
  height: 60px;
  top: 249px;
  left: 116px;
}

.SIGNUP .group-3 {
  position: absolute;
  width: 392px;
  height: 60px;
  top: 180px;
  left: 116px;
}

.SIGNUP .overlap-group-2 {
  position: absolute;
  width: 109px;
  height: 158px;
  top: 21px;
  left: 257px;
}

.SIGNUP .text-wrapper-2 {
  position: absolute;
  width: 109px;
  top: 108px;
  left: 0;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .logo-removebg {
  position: absolute;
  width: 109px;
  height: 109px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.SIGNUP .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
}

.SIGNUP .navbar-wrapper {
  width: 1452px;
  height: 80px;
}

.SIGNUP .navbar-2 {
  position: relative;
  background-color: #32508f;
  box-shadow: 0px 4px 4px #00000040;
  width: 1440px;
  height: 80px;
}

.SIGNUP .text-wrapper-3 {
  width: 113px;
  left: 959px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .text-wrapper-4 {
  position: absolute;
  top: 25px;
  left: 1229px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .text-wrapper-5 {
  width: 105px;
  left: 1098px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .rectangle {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 9px;
  left: 28px;
  object-fit: cover;
}

.SIGNUP .overlap-2 {
  position: absolute;
  width: 494px;
  height: 45px;
  top: 12px;
  left: 103px;
}

.SIGNUP .text-wrapper-6 {
  width: 312px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-size: 32px;
  position: absolute;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .text-wrapper-7 {
  position: absolute;
  width: 312px;
  top: 0;
  left: 182px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.SIGNUP .text-wrapper-8 {
  width: 66px;
  left: 867px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
