* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
}

#Navigation_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #32508F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  z-index: 9999;
}

#Navigation_bar .logo-title {
  display: flex;
  align-items: center;
}

#Navigation_bar span {
  font-size: 30px;
  color: #FFFFFF;
}

#Navigation_bar nav {
  display: flex;
  gap: 12px;
  font-family: Helvetica, sans-serif;
  margin-right: 30px;
}

.navigation {
  font-size: 17px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 4px 10px;
}

.navigation:hover {
  color: blue;
  font-weight: bold;
}

.SIGNUP {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.SIGNUP .div {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin-top: 60px; 
}


.SIGNUP .overlap {
  min-height: 100vh; 
  background-image: url(../../../Images/bg3.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  
}

.SIGNUP .text-wrapper {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  margin-top: 40px; 
}

.SIGNUP .overlap-group {
  width: 445px;
  height: 458px;
background: linear-gradient(180deg, #ffffff 0%, #deedff 100%);
  border-radius: 26px;
  box-shadow: 0px 4px 4px #00000040;
  position: relative;
  margin-top: 40px;
  
}

.SIGNUP .overlap-group-2 {
  width: 109px;
  height: 158px;
  margin: 21px auto 0;
  text-align: center;
}

.SIGNUP .logo-removebg {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.SIGNUP .text-wrapper-2 {
  margin-top: 25px;
  font-size: 25px;
  font-family: "Konkhmer Sleokchher", sans-serif;
}

.SIGNUP input {
  display: block;
  width: 392px;
  height: 40px;
  margin: 15px auto;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}

.SIGNUP .back-to-log-in {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.SIGNUP .yellow {
  width: 119px;
  height: 39px;
  margin: 20px auto;
  background-color: #ffc83d;
  border: none;
  border-radius: 462.7px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SIGNUP .PLACEHOLDER {
  color: white;
  font-size: 20px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
}

button.yellow {
  background-color: #f7c948;
  transition: background-color 0.3s ease;
}

button.yellow:hover {
  background-color: #d4a820;
}