
.ACADEMICS {
  display: flex;
   justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ACADEMICS .div {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ACADEMICS .overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../Images/bg.png");
  background-size: cover;
  background-position: center;
}

.ACADEMICS .rectangle {
  position: absolute;
  width: 300px;
  height: 838px;
  top: 100px;  
  right: 136px;
  background-color: #ffffff;
  border: 4px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.ACADEMICS .bachelor-of-science {
  top: 211px;
  position: absolute;
  width: 916px;
  left: 211px;
  font-family: "Crimson Text-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper {
  position: absolute;
  width: 929px;
  top: 254px;
  left: 211px;
  font-family: "Albert Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .p {
  position: absolute;
  width: 929px;
  top: 389px;
  left: 211px;
  font-family: "Albert Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-2 {
  position: absolute;
  width: 963px;
  top: 510px;
  left: 211px;
  font-family: "Albert Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-3 {
  position: absolute;
  width: 929px;
  top: 773px;
  left: 211px;
  font-family: "Albert Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-4 {
  position: absolute;
  width: 929px;
  top: 638px;
  left: 211px;
  font-family: "Albert Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-5 {
  top: 344px;
  position: absolute;
  width: 916px;
  left: 211px;
  font-family: "Crimson Text-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-6 {
  top: 467px;
  position: absolute;
  width: 916px;
  left: 211px;
  font-family: "Crimson Text-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-7 {
  top: 594px;
  position: absolute;
  width: 916px;
  left: 211px;
  font-family: "Crimson Text-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-8 {
  top: 730px;
  position: absolute;
  width: 916px;
  left: 211px;
  font-family: "Crimson Text-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-9 {
  position: absolute;
  width: 769px;
  top: 104px;
  left: 190px;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #32508f;
  box-shadow: 0px 4px 4px #00000040;
}


.ACADEMICS .group {
  width: 1452px;
  height: 80px;
}

.ACADEMICS .navbar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

.ACADEMICS .text-wrapper-10 {
  width: 113px;
  left: 959px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-11 {
  position: absolute;
  top: 25px;
  left: 1229px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-12 {
  width: 105px;
  left: 1098px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .img {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 9px;
  left: 28px;
  object-fit: cover;
}

.ACADEMICS .overlap-group {
  position: absolute;
  width: 494px;
  height: 45px;
  top: 12px;
  left: 103px;
}

.ACADEMICS .text-wrapper-13 {
  position: absolute;
  width: 312px;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-14 {
  position: absolute;
  width: 312px;
  top: 0;
  left: 182px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.ACADEMICS .text-wrapper-15 {
  width: 66px;
  left: 867px;
  position: absolute;
  top: 25px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Konkhmer Sleokchher-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

